* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 80%;
}

.s1 {
    display: flex;
}


/* Style the header */

header {
    background-color: rgb(11 35 153);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}


/* Create two columns/boxes that floats next to each other */

nav {
    float: left;
    width: 20%;
    /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}


/* Style the list inside the menu */

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    /* only for demonstration, should be removed */
}


/* Clear floats after the columns */

section::after {
    content: "";
    display: table;
    clear: both;
}


/* Style the footer */

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */

@media (max-width: 600px) {
    nav,
    article {
        width: 100%;
        height: auto;
    }
}

#search {
    display: flex;
}

.menu {
    width: 80%;
}

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

#menu li {
    width: auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 1em;
}

#menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
}

#menu li:hover {
    background: #CDE2CD;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1172f0;
    color: white;
}

a {
    text-decoration: none;
}

h4 {
    text-align: center;
}

#navmenu {
    display: flex;
    justify-content: space-between;
}